<section class="about-me">
  <div class="container">
    <p>about-me</p>
    <div class="section-description-wrapper">
      <h3 class="section-description">
        I work with people all over the world to create impressive and <span
          class="section-description-element-red">functional</span> <span
          class="section-description-element-gray">websites</span> that reflect each client's
        unique
        personality.
      </h3>
    </div>

    <div class="photo-wrapper">
      <img class="user-photo" src="../img/about-me/photo-user-min.png" alt="user-photo">
    </div>
    <ul class="about-me__faq__list">
      <li class="about-me__faq__item item-js">
        <div class="about-me__faq__item__question question-js">
          <p>About me</p>
          <div class="arrow"></div>
        </div>
        <div class="about-me__faq__item__answer answer-js">
          <p>
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
        </div>
      </li>
      <li class="about-me__faq__item item-js">
        <div class="about-me__faq__item__question question-js">
          <p>About me</p>
          <div class="arrow"></div>
        </div>
        <div class="about-me__faq__item__answer answer-js">
          <p>
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
        </div>
      </li>
    </ul>

    <div class="about-me-expirience">
      <ul>
        <li><span>HTML/CSS</span></li>
        <li><span>JavaScript</span></li>
        <li><span>React</span></li>
        <li><span>Node.js</span></li>
        <li><span>React Native</span></li>
        <li><span>Soft skills</span></li>
      </ul>
    </div>
  </div>
</section>