<section class="covers">
  <div class="covers__wrapper">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <div class="marquee__inner marquee__slider swiper" dir="rtl">
        <ul class="swiper-wrapper">
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-1-1x.jpg" alt="Project-1" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-2-1x.jpg" alt="Project-2" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-3-1x.jpg" alt="Project-3" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-4-1x.jpg" alt="Project-4" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-5-1x.jpg" alt="Project-5" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-6-1x.jpg" alt="Project-6" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-7-1x.jpg" alt="Project-7" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-8-1x.jpg" alt="Project-8" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-9-1x.jpg" alt="Project-9" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-10-1x.jpg" alt="Project-10" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="marquee__inner marquee__slider swiper">
        <ul class="swiper-wrapper">
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-6-1x.jpg" alt="Project-6" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-7-1x.jpg" alt="Project-7" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-8-1x.jpg" alt="Project-8" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-9-1x.jpg" alt="Project-9" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-10-1x.jpg" alt="Project-10" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-1-1x.jpg" alt="Project-1" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-2-1x.jpg" alt="Project-2" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-3-1x.jpg" alt="Project-3" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-4-1x.jpg" alt="Project-4" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-5-1x.jpg" alt="Project-5" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="marquee__inner marquee__slider swiper" dir="rtl">
        <ul class="swiper-wrapper">
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-1-1x.jpg" alt="Project-1" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-2-1x.jpg" alt="Project-2" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-3-1x.jpg" alt="Project-3" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-4-1x.jpg" alt="Project-4" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-5-1x.jpg" alt="Project-5" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-6-1x.jpg" alt="Project-6" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-7-1x.jpg" alt="Project-7" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-8-1x.jpg" alt="Project-8" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-9-1x.jpg" alt="Project-9" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-10-1x.jpg" alt="Project-10" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="marquee__inner marquee__slider swiper">
        <ul class="swiper-wrapper">
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-6-1x.jpg" alt="Project-6" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-7-1x.jpg" alt="Project-7" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-8-1x.jpg" alt="Project-8" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-9-1x.jpg" alt="Project-9" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-10-1x.jpg" alt="Project-10" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-1-1x.jpg" alt="Project-1" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-2-1x.jpg" alt="Project-2" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-3-1x.jpg" alt="Project-3" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-4-1x.jpg" alt="Project-4" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-5-1x.jpg" alt="Project-5" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="marquee__inner marquee__slider swiper" dir="rtl">
        <ul class="swiper-wrapper">
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-1-2x.jpg 2x,
                  ./img/covers/project-1-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-1-1x.jpg" alt="Project-1" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-2-2x.jpg 2x,
                  ./img/covers/project-2-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-2-1x.jpg" alt="Project-2" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-3-2x.jpg 2x,
                  ./img/covers/project-3-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-3-1x.jpg" alt="Project-3" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-4-2x.jpg 2x,
                  ./img/covers/project-4-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-4-1x.jpg" alt="Project-4" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-5-2x.jpg 2x,
                  ./img/covers/project-5-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-5-1x.jpg" alt="Project-5" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-6-2x.jpg 2x,
                  ./img/covers/project-6-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-6-1x.jpg" alt="Project-6" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-7-2x.jpg 2x,
                  ./img/covers/project-7-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-7-1x.jpg" alt="Project-7" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-8-2x.jpg 2x,
                  ./img/covers/project-8-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-8-1x.jpg" alt="Project-8" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-9-2x.jpg 2x,
                  ./img/covers/project-9-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-9-1x.jpg" alt="Project-9" />
            </picture>
          </li>
          <li class="marquee__line swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/project-10-2x.jpg 2x,
                  ./img/covers/project-10-1x.jpg 1x
                "
                media="(max-width:767px)"
              />
              <img src="./img/covers/project-10-1x.jpg" alt="Project-10" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
