<section class="covers">
  <h2 class="visually-hidden">Covers</h2>

  <div class="marquee">
    <div class="marquee__inner">
      <ul>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 10.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 9.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 8.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/first screen 1.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle\ 7.jpg')"
        ></li>
      </ul>
    </div>
    <div class="marquee__inner">
      <ul>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/first screen 1.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle\ 7.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 8.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/first screen 1.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 10.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 9.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        ></li>
      </ul>
    </div>
    <div class="marquee__inner">
      <ul>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle\ 7.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 10.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 9.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 8.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/first screen 1.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        ></li>
        <li
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 10.jpg')"
        ></li>
      </ul>
    </div>
  </div>
</section>
