<section class="content">
  <p>covers</p>
  <div class="content">
    <div class="marquee">
      <div class="marquee__inner">
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 10.jpg')"
        >
          Project 1
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        >
          Project 2
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        >
          Project 3
        </p>

        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        >
          Project 6
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        >
          Project 7
        </p>

        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 9.jpg')"
        >
          Project 10
        </p>
      </div>
      <div class="marquee__inner">
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/first screen 1.jpg')"
        >
          Project 1
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        >
          Project 2
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        >
          Project 3
        </p>

        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        >
          Project 7
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        >
          Project 8
        </p>

        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 9.jpg')"
        >
          Project 10
        </p>
      </div>
      <div class="marquee__inner">
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 10.jpg')"
        >
          Project 1
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        >
          Project 2
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        >
          Project 3
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 11.jpg')"
        >
          Project 4
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 12.jpg')"
        >
          Project 5
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        >
          Project 6
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        >
          Project 7
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 4.jpg')"
        >
          Project 8
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 5.jpg')"
        >
          Project 9
        </p>
        <p
          class="marquee__line"
          style="background-image: url('../img/covers/Rectangle 9.jpg')"
        >
          Project 10
        </p>
      </div>
    </div>
  </div>
</section>
