
  <section class="faq-section">
    <div class="faq-header">
      <h1>FAQ</h1>
    </div>
    <div class="container">
      <div class="accordion-item">
        <button class="accordion-header">
          <span>What programming languages are most often used in your project?</span>
          <!-- <img src="без имени " alt="Arrow" class="accordion-arrow"> -->
            <svg width="16" height="12">
              <use href="./img/svg-sprites/symbol-defs.svg#icon-small-white-arrow"></use>
            </svg>
            <!-- ./images/icons.svg#icon-mail -->
        </button>
        <div class="accordion-content">
          <p>In the field of web development, there are various technologies and programming languages. Typically, this
            includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <span>How can I contact you?</span>
          <img src="Без имени.png" alt="Arrow" class="accordion-arrow">
        </button>
        <div class="accordion-content">
          <p>In the field of web development, there are various technologies and programming languages. Typically, this
            includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <span>What are the deadlines for the project?</span>
          <img src="Без имени.png" alt="Arrow" class="accordion-arrow">
        </button>
        <div class="accordion-content">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of
            the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult
            task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <span>Do you provide advice or support?</span>
          <img src="Без имени.png" alt="Arrow" class="accordion-arrow">
        </button>
        <div class="accordion-content">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of
            the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult
            task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <span>What payment methods do you accept?</span>
          <img src="Без имени.png" alt="Arrow" class="accordion-arrow">
        </button>
        <div class="accordion-content">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems
            such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <span>What does the process of developing a software product look like from idea to implementation?</span>
          <img src="Без имени.png" alt="Arrow" class="accordion-arrow">
        </button>
        <div class="accordion-content">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems
            such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>
    </div>
  </section>
