<section class="projects">
  <div class="container">
    <h2 class="projects__title">Projects</h2>
    <div class="projects__list projects-js-list swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide projects__item">
          <div class="projects__item__container">
            <div class="projects__item__col content">
              <ul class="projects__item__tags">
                <li class="projects__item__tag">
                  <span>#react</span>
                </li>
                <li class="projects__item__tag">
                  <span>#js</span>
                </li>
                <li class="projects__item__tag">
                  <span>#node js</span>
                </li>
                <li class="projects__item__tag">
                  <span>#git</span>
                </li>
              </ul>
              <h3 class="projects__item__title">
                Programming Across<br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </h3>
              <a
                class="projects__item__link"
                href="https://yanyanovich.github.io/jsproject/"
                target="_blank"
              >
                See project
              </a>
            </div>
            <div class="projects__item__col image">
              <picture class="projects__item__image">
                <source
                  srcset="./img/projects/project_img_1_mobile.png"
                  type="image/png"
                  media="(max-width: 767px)"
                />
                <source
                  srcset="./img/projects/project_img_1_1x.png"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/projects/project_img_1_1x.png"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/projects/project_img_1_1x.png"
                  srcset="
                    ./img/projects/project_img_1_2x.png 2x,
                    ./img/projects/project_img_1_3x.png 3x
                  "
                  alt="Programming Across Borders: Ideas, Technologies, Innovations"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide projects__item">
          <div class="projects__item__container">
            <div class="projects__item__col content">
              <ul class="projects__item__tags">
                <li class="projects__item__tag">
                  <span>#react</span>
                </li>
                <li class="projects__item__tag">
                  <span>#js</span>
                </li>
                <li class="projects__item__tag">
                  <span>#node js</span>
                </li>
                <li class="projects__item__tag">
                  <span>#git</span>
                </li>
              </ul>
              <h3 class="projects__item__title">
                Programming Across<br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </h3>
              <a
                class="projects__item__link"
                href="https://yanyanovich.github.io/jsproject/"
                target="_blank"
              >
                See project
              </a>
            </div>
            <div class="projects__item__col image">
              <picture class="projects__item__image">
                <source
                  srcset="./img/projects/project_img_2_mobile.png"
                  type="image/png"
                  media="(max-width: 767px)"
                />
                <source
                  srcset="./img/projects/project_img_2_1x.png"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/projects/project_img_2_1x.png"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/projects/project_img_2_1x.png"
                  srcset="
                    ./img/projects/project_img_2_2x.png 2x,
                    ./img/projects/project_img_2_3x.png 3x
                  "
                  alt="Programming Across Borders: Ideas, Technologies, Innovations"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide projects__item">
          <div class="projects__item__container">
            <div class="projects__item__col content">
              <ul class="projects__item__tags">
                <li class="projects__item__tag">
                  <span>#react</span>
                </li>
                <li class="projects__item__tag">
                  <span>#js</span>
                </li>
                <li class="projects__item__tag">
                  <span>#node js</span>
                </li>
                <li class="projects__item__tag">
                  <span>#git</span>
                </li>
              </ul>
              <h3 class="projects__item__title">
                Programming Across<br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </h3>
              <a
                class="projects__item__link"
                href="https://yanyanovich.github.io/jsproject/"
                target="_blank"
              >
                See project
              </a>
            </div>
            <div class="projects__item__col image">
              <picture class="projects__item__image">
                <source
                  srcset="./img/projects/project_img_3_mobile.png"
                  type="image/png"
                  media="(max-width: 767px)"
                />
                <source
                  srcset="./img/projects/project_img_3_1x.png"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/projects/project_img_3_1x.png"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <img
                  src="./img/projects/project_img_3_1x.png"
                  srcset="
                    ./img/projects/project_img_3_2x.png 2x,
                    ./img/projects/project_img_3_3x.png 3x
                  "
                  alt="Programming Across Borders: Ideas, Technologies, Innovations"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects__nav">
      <div class="swiper-button-prev">
        <svg width="32" height="32">
          <use href="./img/svg-sprites/symbol-defs.svg#icon-white-arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="32" height="32">
          <use href="./img/svg-sprites/symbol-defs.svg#icon-white-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
