<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">reviews</h2>
    <div class="swiper swiper_reviews reviews__list">
      <ul class="swiper-wrapper"></ul>
      <div class="reviews__nav">
        <div class="swiper-button-prev">
          <svg width="32" height="32">
            <use
              href="./img/svg-sprites/symbol-defs.svg#icon-white-arrow"
            ></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="32" height="32">
            <use
              href="./img/svg-sprites/symbol-defs.svg#icon-white-arrow"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
