.covers {
  padding-top: 64px;
}
@media (min-width: 768px) {
  .covers {
    padding-top: 96px;
  }
}
@media (min-width: 1440px) {
  .covers {
    padding-top: 164px;
  }
}

.covers__wrapper {
  position: relative;
  height: 508px;
  overflow: hidden;
}
.covers__wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../img/covers/cover-bg.png') no-repeat center/cover;
  z-index: -1;
}
.marquee {
  transform: translateY(-250px);
  overflow: hidden;
}

.marquee__inner {
  transform: rotate(16deg);
  overflow: visible !important;
  margin-bottom: 30px;
}
.marquee__inner .swiper-wrapper {
  transition-timing-function: linear !important;
}
.marquee__line {
  position: relative;
  width: 282px;
  height: 162px;
}
.marquee__line picture {
  position: absolute;
  inset: 0;
}
.marquee__line img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .marquee {
    transform: translateY(-477px);
  }
  .marquee__inner {
    margin-bottom: 60px;
  }
  .marquee__line {
    width: 544px;
    height: 314px;
  }
  .covers__wrapper {
    height: 960px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
