.hero {
  padding: 281px 0 32px 0;
  position: relative;
}
.hero__container {
  height: 499px;
  display: flex;
  flex-direction: column;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.hero__title {
  line-height: 1;
  font-size: clamp(2rem, -0.947rem + 16.842vw, 3rem);
  letter-spacing: -0.03em;
  font-weight: 500;
  text-transform: uppercase;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: clamp(19.375rem, 1.137rem + 77.815vw, 34.063rem);
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero__navigation_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.hero__navigation_list_item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: clamp(1.875rem, 0.586rem + 7.368vw, 2.313rem);
  height: clamp(1.875rem, 0.586rem + 7.368vw, 2.313rem);
  font-size: clamp(0.563rem, -0.359rem + 5.263vw, 0.875rem);
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: border 300ms linear;
}
.hero__navigation_list_link {
  border-radius: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 300ms linear;
}
.hero__navigation_email {
  width: auto;
  padding-inline: clamp(0.313rem, -0.977rem + 7.368vw, 0.75rem);
}
@media screen and (max-width: 375) {
  .hero__title {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 300px 0 32px 0;
  }
  .hero__container {
    height: 692px;
  }
  .hero__bg {
    width: clamp(36rem, 8.244rem + 57.824vw, 60.25rem);
    object-fit: cover;
  }
  .hero__title {
    font-size: 90px;
  }
  .hero__navigation_list {
    justify-content: flex-end;
    gap: 8px;
  }
  .hero__navigation_list_item {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }
  .hero__navigation_email {
    width: auto;
    padding-inline: 24px;
  }
  .hero__navigation_email {
    max-width: max-content;
    max-height: max-content;
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    height: 568px;
  }
  .hero__bg {
    width: 50%;
  }
}
.hero__navigation_list_item:hover {
  border: 1px solid #fafafa;
  transition: border 300ms linear;
}
.hero__navigation_list_item:hover .hero__navigation_list_link {
  color: #e0373f;
  transition: color 300ms linear;
}
