.reviews {
  padding: 64px 0;
}
@media (min-width: 768px) {
  .reviews {
    padding: 96px 0;
  }
}
@media (min-width: 1440px) {
  .reviews {
    padding: 164px 0;
  }
}
.reviews__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.reviews__list {
  margin-top: 32px;
}
.reviews__item__container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
}
.reviews .swiper-slide {
  height: auto;
}
.reviews__item__photo {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
  overflow: hidden;
}
.reviews__item__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews__item__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}
.reviews__item__review,
.reviews__notfound {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 8px;
}

.reviews__nav {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media (min-width: 768px) {
  .reviews__nav {
    gap: 20px;
    margin-top: 32px;
  }
}

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
  cursor: pointer;
}
@media (min-width: 768px) {
  .reviews .swiper-button-prev,
  .reviews .swiper-button-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}
.reviews .swiper-button-prev {
  transform: rotate(180deg);
}
.reviews .swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
}
.reviews .swiper-button-prev:not(.swiper-button-disabled):hover,
.reviews .swiper-button-next:not(.swiper-button-disabled):hover,
.reviews .swiper-button-prev:not(.swiper-button-disabled):focus,
.reviews .swiper-button-next:not(.swiper-button-disabled):focus {
  background-color: var(--button-red-hover);
  border-color: var(--button-red-hover);
}
